In [3]:
class Employee():
    pass

In [4]:
emp1 = Employee()             # creating an instance of class            
emp2 = Employee()

In [5]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000001C9D292C290>
<__main__.Employee object at 0x000001C9D292D050>

In [6]:
# instance variables

emp1.first = 'Sanika'
emp1.last = 'Jagtap'
emp1.salary = 51000

emp2.first = 'Saniya'
emp2.last = 'Deshmukh'
emp2.salary = 50000

In [7]:
print(emp1.first)

Sanika

In [8]:
print(emp1.last)

Jagtap

In [9]:
print(emp2.salary)

50000

In [10]:
class Employee():

    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary

    def show(self):
        print(self.first + ' ' + 'ok')

In [11]:
emp1 = Employee('Sanika', 'Jagtap' , 51000)

In [13]:
print(emp1.first)

Sanika

In [14]:
print(emp1.last)

Jagtap

In [15]:
print(emp1.salary)

51000

In [16]:
emp1.show()

Sanika ok

In [17]:
class Employee1():

    def __init__ (self, first, last, salary):       # initial method
        self.first = first
        self.last = last
        self.__salary = salary                      # private variable

    def show(self):
        print(self.__salary)

In [23]:
emp1 = Employee1('Sanika', 'Jagtap', 51000)
emp2 = Employee1('Saniya', 'Deshmuk', 50000)

In [24]:
print(emp1.first)

Sanika

In [25]:
print(emp1.last)

Jagtap

In [26]:
print(emp1.salary)

AttributeError: 'Employee1' object has no attribute 'salary'

In [27]:
print(emp2.first)

Saniya

In [28]:
print(emp2.salary)

AttributeError: 'Employee1' object has no attribute 'salary'

In [29]:
emp1.show()

51000

In [30]:
emp2.show()

50000

In [33]:
'''
Create a class called person attributes => name,age,city,...(make use of default parameters also)
create a method which will show all the info of person
'''

class person():

    def __init__ (self, n, a = 25):
        self.name = n
        self.age = a

    def info(self):
        print('name', self.name)
        print('age', self.age)

In [34]:
p1 = person('Jonh', 21)

In [1]:
p2 = person('Neha', 22)

NameError: name 'person' is not defined